:root { 
  --primary-color:#6200EE;
  --secondary-color: #B07707;
  --surface-color: #FFFFFF;
  --error-color: #B00020;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  height: 100vh;
  background-color: var(--primary-color);
  justify-content: center;
  align-items: center;
}

.card {
  flex-basis: 40%;
  background-color: var(--surface-color);
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}