.items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.actions {
    display: flex;
    flex-direction: row;
}